[Unit]
Description=BIMI Validator service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=docker run ---name bimivalidator -rm -p 5000:5000 --user nobody marcbradshaw/bimivalidator:latest
Restart=on-failure

[Install]
WantedBy=multi-user.target
