[Unit]
Description=BIMI Validator service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/bimivalidator
ExecStart=/opt/bimivalidator/bimivalidator.run
Restart=on-failure

[Install]
WantedBy=multi-user.target
